@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&family=Work+Sans&display=swap");

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  border-bottom: 3px solid white;
}
.name {
  color: antiquewhite;
  font-family: "Moon Dance", cursive;
  font-weight: 1000;
  font-size: 35px;
  position: relative;
  left: 5%;
  padding-left: 2px;
}

.list {
  margin-left: 40%;
}

.list ul {
  display: flex;
  list-style: none;
}
.Nav-link {
  display: block;
  color: antiquewhite;
  border: none;
  margin: 10px 45px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  text-decoration: none;
}
.Nav-link :hover {
  color: grey;
}
